/* Google font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-clr: #58e0bb;
  --color-secondary-clr: #121b21;
  --color-bgClr: #0e1419;

  /* Typographey */
  --font-dmSans: "DM Sans", sans-serif;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-bgClr text-white font-dmSans;
}

@layer utilities {
  .container {
    @apply px-4 mx-auto  md:px-8 lg:px-12 2xl:max-w-screen-xl;
  }
  p {
    @apply text-sm sm:text-base md:text-lg text-neutral-400;
  }
  .section {
    @apply py-28 lg:py-36;
  }
  h2 {
    @apply text-2xl  lg:text-4xl font-semibold;
  }
  .input {
    @apply h-12 w-full border border-neutral-800 indent-4 py-2;
  }
  button {
    @apply cursor-pointer;
  }
}


@layer components {
  .primary-btn {
    @apply bg-white px-8 py-3 text-black font-semibold tracking-wider border border-white hover:bg-transparent transition-colors hover:text-white active:bg-white/10;
  }
  .secondary-btn {
    @apply px-8 py-3 text-white font-semibold tracking-wider border border-white transition-colors hover:text-black hover:bg-white active:bg-white/70;
  }
}
   
/* Header */
.header {
  @apply fixed top-0 left-0 py-5 w-full z-30;
}

.header.active{
  @apply bg-secondary-clr shadow-xs shadow-white/15
}